<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.20/angular.js" data-semver="1.3.20"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <h1> Shopping Cart </h1>  <a href="#check"> Checkout </a> &nbsp &nbsp <a href="#next">
    <i class="fa fa-comment"></i> Add Item</a>
    
    <div  ng-controller="MainCtrl">
      <br>
      Find: <input type="text" data-ng-model="namer" placeholder="Type something" /> 
      <button ng-click="removeFlav()"> Delete </button>
<br>
      <ul>
    		<li ng-repeat="f in names | filter:namer">
    		   {{ f.flavor }} : {{f.cal}}$
    		</li>
    	</ul>
    	 </div>
    	
    </div>
    <br>
  	<div class="ng-view" ng-controller="basic"></div>

  </body>

</html>
